.title-banner h1 {
    text-align: center;
    color: white;

    font-family:sans-serif;
    font-size: 46pt;

    width: 100%;
    padding: 100px;
    margin: 0px;
}

body {
    font-family: sans-serif;
}

a {
    color: white;
}

.content {
    margin: 10px;
    text-color: black
    font-family: sans-serif;
    with: 100%;
    background: white;
}

.footer {
    color: white;
    background: dimGray;
    font-family: sans-serif;
    text-align: center;
    with: 100%;
}

.communityUploadArea {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.communityUploadCard {
    background-color: white;
    border-radius: 20px;
    box-shadow: -5px 5px 5px gray;
    font-family: sans-serif;
    width: 50%;
    height: 200px;
    margin: 10px auto;
}

.banner-img img {
    object-fit: none;
    object-position: center;
    width: 100%;
}

.example-img img {
    height: 300px;
    padding: 30px;
    box-shadow: -5px 5px 5px gray;
}

.page-text {
    font-size: 24pt;
    padding-top: 18%;
}

.page-row {
    margin-bottom: 30px;
    padding: 30px;
    box-shadow: -10px 10px 10px gray;
    border-radius: 30px;
    border: 2px;
}