h1 {
    text-align: center;
    color: white;
    background-color: rebeccaPurple;
    font-family:sans-serif;
    width: 100%;
    padding: 20px;
    margin: 0px;
}

body {

}

a {
    color: white;
}

.navBar {
    font-family:sans-serif;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    flex-direction: row;
    display: flex;
    justify-content: center;
}

.navButton {
    padding: 15px;
    width: 20%;
    float: left;
    text-align: center;
    color: white;
    background: dimGray;
}

.content {
    margin: 10px;
    text-color: black
    font-family: sans-serif;
    with: 100%;
    background: aliceBlue;
}

.footer {
    color: white;
    background: dimGray;
    font-family: sans-serif;
    text-align: center;
    with: 100%;
}

.communityUploadArea {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.communityUploadCard {
    background-color: white;
    border-radius: 20px;
    box-shadow: -5px 5px 5px gray;
    font-family: sans-serif;
    width: 50%;
    height: 200px;
    margin: 10px auto;
}