{% extends "template.html" %}

{% block content %}


        <h3>Links to Sources for Data</h3>
        <button type="button" onclick="location.href = 'https://services.swpc.noaa.gov/products/solar-wind/plasma-7-day.json'">Solar Weather (7 Day)</button>
        <br>
        <br>
        <button type="button" onclick="location.href = 'https://services.swpc.noaa.gov/products/solar-wind/plasma-1-day.json'">Solar Weather (24 Hour)</button>
        <br>
        <br>
        <button type="button" onclick="location.href = 'https://www.spaceweatherlive.com/en/solar-activity/solar-flares.html'">Solar Flare</button>
        <br>
        <br>





{% endblock %}
