{% extends "template.html" %}

{% block content %}

<div class="container">
    <div class="page-row">
        <h3 style="text-align: center">Community Uploads</h3>
        <div class="container" style="display: flex; align-items: center; justify-content: center">
            <a href="/community/community_posts" style="margin: 20px" class="btn btn-primary">Community Posts</a>
            <a href="/community/community_create_post" style="margin: 20px" class="btn btn-primary">Community Create Post</a>
        </div>
    </div>
</div>

{% endblock %}
