{% extends "template.html" %}

{% block content %}

<script type = "text/javascript">
    function check_selection(){
        var temperature = 0;
        var density = 0;
        var speed = 0;
        var t = document.getElementById("temperature");
        var d = document.getElementById("density");
        var s = document.getElementById("speed");

        if(t.checked){
            temperature = 1;
        }
        if(d.checked){
            density = 1;
        }
        if(s.checked){
            speed = 1;
        }

        var selection = ((( density << 1) | (speed)) << 1 )  | temperature;

        window.location.href = '../feed/' + selection;

    }

</script>

<input type="checkbox" id="temperature" name="temperature" value="Temperature">
<label for="temperature"> Temperature </label><br>
<input type="checkbox" id="speed" name="speed" value="Speed">
<label for="speed"> Speed </label><br>
<input type="checkbox" id="density" name="density" value="Density">
<label for="density"> Density </label><br>
<button type="button" onclick="check_selection()">Apply Changes</button>
<p> {{ response }} </p>



{% endblock %}