{% extends "template.html" %}

{% block content %}


        <h3>Graphs Showing Solar Wind Activity (Last 7 Days)</h3>
        <button type="button" onclick="location.href = 'wind/temperature'">Temperature</button>
        <br>
        <br>
        <button type="button" onclick="location.href = 'wind/density'">Density</button>
        <br>
        <br>
        <button type="button" onclick="location.href = 'wind/speed'">Speed</button>
        <br>
        <br>
        <h3>Graphs Showing Solar Wind Activity (Last 24 Hours)</h3>
        <button type="button" onclick="location.href = 'wind/all'">All Activities</button>

        </br></br></br></br></br>



{% endblock %}
