{% extends "template.html" %}

{% block content %}

<div class="container">
        <div class="page-row">
                <div style="font-family: sans-serif">
                        <p>
                                To view a source of data, start by selecting one of the categories from the top navigation bar:
                        </p>
                        <p>
                                <div class="container example-img">
                                    <img src="{{url_for('static', filename='nav-bar-screenshot.png')}}" class="rounded mx-auto d-block" alt="solar-wind-data-example">
                                </div>
                        </p>

                        <p>
                                Once you have selected a category of information, you will see the information presented
                                as a graph visualization or in text form:
                        </p>
                        <p>
                                <img src="{{url_for('static', filename='graph-data.png')}}">
                                <img src="{{url_for('static', filename='text-data.png')}}">
                        </p>
                </div>
        </div>
</div>



{% endblock %}
