{% extends "template.html" %}

{% block content %}

<div class="container" style="width: 50%">
        <div class="row page-row">
                <h3 style="text-align:center; margin-bottom: 30px">Report From NOAA</h3>

                <p id = "NOAA">Current solar flare class: </p>
                <p id = "NOAA2">Began as class </p>
                <p id = "NOAA3">Peaked at class </p>
                <p id = "NOAA4">Ended as class </p>
        </div>
</div>

<div class="container" style="width: 50%">
        <div class="row page-row">
                <h3 style="text-align:center; margin-bottom: 30px">Report From SpaceWeatherLive</h3>

                <p id = "SWL">Current solar flare class: </p>
                <p id = "SWL2">Largest solar flare class in the past 24 hours: </p>
                <p id = "SWL3">Largest solar flare class in the past 72 hours: </p>
        </div>
</div>

<script>
        let swl_curr = '{{ data1 }}';
        let swl_max = '{{ data2 }}';
        let swl_max_day = '{{ data3 }}';
        let noaa_recent = '{{ data4 }}';
        let noaa_began = '{{ data5 }}';
        let noaa_peak = '{{ data6 }}';
        let noaa_end = '{{ data7 }}';
        document.getElementById("SWL").innerHTML += swl_curr;
        document.getElementById("SWL2").innerHTML += swl_max;
        document.getElementById("SWL3").innerHTML += swl_max_day;
        document.getElementById("NOAA").innerHTML += noaa_recent;
        document.getElementById("NOAA2").innerHTML += noaa_began;
        document.getElementById("NOAA3").innerHTML += noaa_peak;
        document.getElementById("NOAA4").innerHTML += noaa_end;
</script>

{% endblock %}
