{% extends "template.html" %}

{% block content %}


        <p id = "SWL">The current solar flare class according to Spaceweatherlive is: </p>
        <p id = "SWL2">The largest solar flare class in the past 24 hours is: </p>
        <p id = "SWL3">The largest solar flare class in the past 72 hours is: </p>
        <br>
        <p id = "NOAA">The current solar flare class according to NOAA is: </p>
        <p id = "NOAA2">The solar flare begun as class: </p>
        <p id = "NOAA3">It peaked at: </p>
        <p id = "NOAA4">The ended as: </p>
        <script>
        let swl_curr = '{{ data1 }}';
        let swl_max = '{{ data2 }}';
        let swl_max_day = '{{ data3 }}';
        let noaa_recent = '{{ data4 }}';
        let noaa_began = '{{ data5 }}';
        let noaa_peak = '{{ data6 }}';
        let noaa_end = '{{ data7 }}';
        document.getElementById("SWL").innerHTML += swl_curr;
        document.getElementById("SWL2").innerHTML += swl_max;
        document.getElementById("SWL3").innerHTML += swl_max_day;
        document.getElementById("NOAA").innerHTML += noaa_recent;
        document.getElementById("NOAA2").innerHTML += noaa_began;
        document.getElementById("NOAA3").innerHTML += noaa_peak;
        document.getElementById("NOAA4").innerHTML += noaa_end;
        </script>




{% endblock %}
