<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Space Data Scraper</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/template.css') }}">
</head>
<body>
    <div name="title-banner">
        <h1>🌌 Space Data Scraper 🌌</h1>
    </div>
    <div class="navBar">
        <div class="navButton">
            <a href="/">✨ Home</a>
        </div>
        <div class="navButton">
            <a href="about.html">✨ About</a>
        </div>
        <div class="navButton">
            <a href="/wind">✨ Solar Wind</a>
        </div>
        <div class="navButton">
            <a href="solar-flare.html">✨ Solar Flares</a>
        </div>
        <div class="navButton">
            <a href="community.html">✨ Community</a>
        </div>
        <div class="navButton">
            <a href="login.html">✨ Login</a>
        </div>
        <div class="navButton">
            <a href="help.html">✨ Help</a>
        </div>
    </div>

    <div class="content">
        </br></br></br></br></br>
        {% block content %}
        <h1> Welcome to the Space Data Scraper !</h1>
        {% endblock %}
        </br></br></br></br></br>
    </div>

    <div class="footer">GitLab Page: <a href="https://cmsc435.garrettvanhoy.com/jsantoto/space-data-scraper/-/tree/main">Here</a>, Website Authors: Abhinav, Derek, John, Johnny, Maurice</div>

</body>
</html>
