<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js"></script>
      <meta charset="utf-8">
      <title>CMSC435 Space Data Scraper</title>
   </head>
   <body>

      <canvas id="myChart" width="600" height="400"></canvas>
      <script>

         let solar_data = {{ data1 }};
         let time_tag = '{{ data2 }}';
         let tt = time_tag.replaceAll('&#39;','');
         let xy  = tt.split(/,/);
         let dates = new Set();

         (function(){
            let ctx = document.getElementById('myChart').getContext('2d');
            let chart = new Chart(ctx,
            {
               type: 'line',
               data:{
                  labels: xy,
                  datasets:[{
                     label: 'Temperature (K)',
                     data: solar_data,
                     borderColor: 'rgb(255, 99, 132)'

                  }]
               },
               options: {
                  interaction:{
                     mode: 'index',
                     intersect: false
                  },
                  elements:{
                     point:{
                       radius: 0
                    }
                  },
                  scales:{
                     y: {
                        title: {
                           display: true,
                           text: 'Temperature (K)'
                        }
                     },
                     x:{
                        maxRotation: 0,
                        autoSkip: true,
                        ticks: {

                           callback: function(val, index) {
                              let day = this.getLabelForValue(val).substring(0,11).replace("[", "")
                              return day

                           },
                           maxTicksLimit: 7,
                           autoSkip: true
                        },
                        title: {
                           display: true,
                           text: 'Date',
                        }
                     }
                  },
                  animation: false,
               },
            });
         })();


         
      </script>

      <h1> Space Data Scraper </h1>
      <p> Flask is a Fun and easy framework</p>
      <p> Flask and HTML in python looks cool</p>

      

   </body>
</html>